body {
    background-image: URL(../images/wwe.jpg);
    margin: auto;
    width: 100%;
    height: 100%;
    margin: 0px;
}
  
  #wrestlers {
    width: 70%;
    margin-left: 10px;
    border: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
  }
    
  form {
    float: right;
    width: 30%;
    padding: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
  }
  
  input[type="text"] {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  button {
    padding: 5px 20px;
    margin: 0 10px 10px 0;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background: red;
    border: 0;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #bbb;
  }
  
  button:hover,
  input[type="submit"]:hover {
    background: #1d4692;
  }
  
  button.active {
    background: forestgreen;
  }
  input[type="submit"] {
      background: rgb(19, 87, 212);
      padding: 5px 20px;
      margin: 0 10px 10px 0;
      font-size: 18px;
      color: #fff;
      cursor: pointer;
      border: 0;
      border-radius: 5px;
      box-shadow: 2px 2px 3px #bbb;
  }

#main {
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}